@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    /* min-width: 300px;
    max-width: 800px; */
    background-color: #1A1A1A;
}

header {
    /* text-align: center; */
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7px;
    /* padding-right: 7px; */
}

header > h1{
    color: #1A1A1A;
}

.botoes-acoes{
    display: flex;
    gap: 8px;
}

.a-acoes {
    text-decoration: none;
    color: #1A1A1A;
    padding: 16px;
    font-size: 16px;
    
    &:hover{
        color: white;
        background-color: #1A1A1A;
    }
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    /* background-color: white;
    color: #1A1A1A;
    border: none;
    cursor: pointer; */
}
.dropdown:hover .dropbtn {
    /* padding: 3px; */
    color: white;
    background-color: #1A1A1A;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
margin-top: 12px;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

h2{
    color: aliceblue;
}
.img-perfil{
    text-align: center;
}

.img-perfil > img {
    border-radius: 60px;
    width: 200px;
    height: 200px;
}

.div-card {
    margin-top: 30px;
    padding: 15px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
}

.div-card p{
    text-align: justify;
}

.parceiro-magalu{
    text-align: center;
    padding: 15px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    background: rgb(117, 117, 238);
}

.parceiro-magalu p{
    text-align: center;
}

.parceiro-magalu a{
    background: whitesmoke;
    color: black;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
}

.title-fala-comigo{
    color: black;
}

.div-card  ul{
    background-color: white;
    display: inline-block;
    padding: 10px;
    text-align: left;
    list-style-position: inside;
    list-style-type: none;
}


.div-card a{
    color:rgb(49, 49, 180);
}
.div-card a:hover{
    color: black;
}

@media screen and (max-width: 600px) { 
    .parceiro-magalu a {
        background: whitesmoke;
        color: black;
        display: block; 
        width: 100%; 
        padding: 10px; 
        border-radius: 5px;
        text-align: center; 
        margin-top: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 450px){
    header{
        display: block;
        text-align: center;
    }

    .botoes-acoes{
        justify-content: center;
    }

    .dropbtn, .a-acoes{
        padding: 5px;
    }

}