@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: auto;
    min-width: 300px;
    max-width: 800px;
}

header {
    text-align: center;
}
header > img {
    border-radius: 100px;
}

section {
    text-align: center;
}

section p{
    text-align: justify;
    background-color: darkgray;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder
}
 
section  ul{
    background-color: darkgray;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    list-style-position: inside;
    font-weight: bolder
}

section a{
    color:rgb(49, 49, 218);
}
section a:hover{
    color: black;
}