@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    background-color: #1A1A1A;
}

header {
    text-align: center;
}

h1,h2{
    color: aliceblue;
}

header > img {
    border-radius: 60px;
    width: 200px;
    height: 200px;
}

.div-card {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
}

.div-card p{
    text-align: justify;
}

.parceiro-magalu{
    text-align: center;
    padding: 15px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    background: rgb(117, 117, 238);
}

.parceiro-magalu p{
    text-align: center;
}

.parceiro-magalu a{
    background: whitesmoke;
    color: black;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
}

.title-fala-comigo{
    color: black;
}

.div-card  ul{
    background-color: white;
    display: inline-block;
    padding: 10px;
    text-align: left;
    list-style-position: inside;
    list-style-type: none;
}


.div-card a{
    color:rgb(49, 49, 180);
}
.div-card a:hover{
    color: black;
}

@media screen and (max-width: 600px) { 
    .parceiro-magalu a {
        background: whitesmoke;
        color: black;
        display: block; 
        width: 100%; 
        padding: 10px; 
        border-radius: 5px;
        text-align: center; 
        margin-top: 10px;
        font-size: 14px;
    }
}