@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    min-width: 300px;

    background: linear-gradient(to bottom, #D1B15E, #ffffff);
}

.pi-header {
    background-color: #070707;
    color: #D1B15E;
    display: flex;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
}

.pi-header > div > a {
    text-decoration: none;
    color: #D1B15E;
    margin-right: 10px;
}

.pi-header > div > a:hover {
    color: white;
}

.pi-main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-image: url('../pi-img/Logo\ 1\ Horizontal.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.pi-poster{
    margin: 0 auto;
    display: block;
    width: 700px; 
    height: 850px;  
    object-fit: cover; 

    opacity: 1; /* Começa com opacidade 1 */
    transition: opacity 1s ease-in-out;
}

.pi-poster.loaded {
    opacity: 0.5; /* Quando a classe loaded estiver presente, ajusta a opacidade para 0 */
}


.contatos {
    position: relative;
}

.btn-consulta {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-decoration: none;
    color: white;
    background-color: #003ee6;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
}

.btn-consulta:hover {
    background-color: #222222;
}

.atuacaoes{
    display: flex;
    gap: 40px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}

.card-atuacao{
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px 0 15px 0;

    text-align: center;
}

.card-atuacao > h3{
    margin-bottom: 10px;
}

.locais{
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}

.locais-title{
    text-align: center;
}

.content-locais{
    margin-top: 30px;
    display: flex;
    gap: 70px;
    justify-content: center;
}

.img-locais{
    width: 300px; 
    height: 500px;  
    object-fit: cover; 
}

.card-locais{
    margin-top: 10px;
    width: 300px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px 0 15px 0;
}

.contato{
    padding: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    background-color: #D1B15E;
}

.contato,li{
    margin-top: 5px;
}

.main-footer{
    background-color: #070707;
    color: aliceblue;
    height: 60px;
    padding: 20px;
}

.main-footer > a{
    color: whitesmoke;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .pi-main {
        flex-direction: column;
        padding: 20px;
        background-image: none;
        background-color: #070707;
    }

    .pi-header {
        flex-direction: column;
        text-align: center;
        height: 100px;
    }

    .pi-header > div > a {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .pi-poster{
        width: 430px;  
        object-fit: cover; 
    }

    .btn-consulta {
        top: 70%;
    }

    .atuacaoes{
        flex-direction: column;
    }

    .content-locais{
        flex-direction: column;
    }
}


@media screen and (max-width: 400px) {
    .pi-main {
        flex-direction: column;
        padding: 20px;
    }

    .pi-header {
        flex-direction: column;
        text-align: center;
        height: 100px;
    }

    .pi-header > div > a {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .pi-poster{
        width: 280px;  
        object-fit: cover; 
    }

    .btn-consulta {
        top: 80%;
    }


    .img-locais{
        width: 200px; 
    }
    
    .card-locais{
        width: 200px;
    }
}

